<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Coupons</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="center description">
    Get discounts on various exchanges and products using our coupons
  </div>

  <ion-list class="coupon-list">
    <ion-item *ngFor="let d of diseases; let i=index" text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
      <h3>
        {{d.title}}
        <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
      </h3>
      <div *ngIf="isGroupShown(i)" [innerHTML]="d.description"></div>
    </ion-item>
  </ion-list>

</ion-content>
