<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{this.coin_data.name}} Information</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="title-text">
    {{this.coin_data.name}}
  </div>
  <div>
    <table class="bold">
      <tr>
        <td>
          Symbol
          <br />
          {{this.coin_data.symbol}}
        </td>
        <td>
          Rank
          <br />
          {{this.coin_data.rank}}
        </td>
        <td>
          Market Cap
          <br />
          {{this.coin_data.market_cap_usd | number}} USD
        </td>
      </tr>
      <tr>
        <td>
          Price
          <br />
          {{this.coin_data.price_usd}} USD
          <br />
          ({{this.coin_data.price_btc}} BTC)
        </td>
        <td>
          24H Volume
          <br />
          {{this.coin_data["24h_volume_usd"] | number}} USD
        </td>
        <td>
          Total Supply
          <br />
          {{this.coin_data.total_supply | number}}
        </td>
      </tr>
      <tr>
        <td>
          Percent Change 1 Hour
          <br />
          <span style="color:green" *ngIf="this.coin_data.percent_change_1h > 0">{{this.coin_data.percent_change_1h}} %</span>
          <span style="color:red" *ngIf="this.coin_data.percent_change_1h < 0">{{this.coin_data.percent_change_1h}} %</span>
          <span *ngIf="this.coin_data.percent_change_1h == 0">{{this.coin_data.percent_change_1h}} %</span>
        </td>
        <td>
          Percent Change 24 Hour
          <br />
          <span style="color:green" *ngIf="this.coin_data.percent_change_24h > 0">{{this.coin_data.percent_change_24h}} %</span>
          <span style="color:red" *ngIf="this.coin_data.percent_change_24h < 0">{{this.coin_data.percent_change_24h}} %</span>
          <span *ngIf="this.coin_data.percent_change_24h == 0">{{this.coin_data.percent_change_24h}} %</span>
        </td>
        <td>
          Percent Change 7 Days
          <br />
          <span style="color:green" *ngIf="this.coin_data.percent_change_7d > 0">{{this.coin_data.percent_change_7d}} %</span>
          <span style="color:red" *ngIf="this.coin_data.percent_change_7d < 0">{{this.coin_data.percent_change_7d}} %</span>
          <span *ngIf="this.coin_data.percent_change_7d == 0">{{this.coin_data.percent_change_7d}} %</span>
        </td>
      </tr>
    </table>
  </div>
</ion-content>
